* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-component {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* height: 100vh; */
}

@media only screen and (min-width: 520px) {
  .card-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
  }
}

@media only screen and (max-width: 359px) {
  .card-component {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.card-component #img img {
  width: 370px;
  height: 290px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0;
}
@media only screen and (min-width: 520px) {
  .card-component #img img {
    height: 400px;
    width: 250px;
    border-radius: 0;
  }
}

#product-description {
  background-color: white;
  width: 350px;
  height: 310px;
  margin-top: -57px;
  padding: 40px 10px;
  border-radius: 0 0 10px 10px;
  position: relative;
}

@media only screen and (min-width: 520px) {
  #product-description {
    height: 320px;
    width: 250px;
    border-radius: 0px 0px 0px 0px;
    margin-top: -5px;
  }
}

@media only screen and (max-width: 359px) {
  #product-description {
    height: 250px;
  }
}

#product-description h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  opacity: 0.7;
  margin-top: -20px;
  margin-bottom: 20px;
}

#product-description h2 {
  font-family: "Fraunces", serif;
  font-size: 30px;
}

@media only screen and (max-width: 359px) {
  #product-description h2 {
    font-size: 15px;
    padding-left: 40px;
  }
}

#product-description h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin-top: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1.2rem;
}

@media only screen and (max-width: 359px) {
  #product-description h3 {
    font-size: 10px;
    padding-left: 40px;
  }
}

#price {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

@media only screen and (max-width: 359px) {
  #price {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

#price #one {
  font-size: 25px;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
}

#price #two {
  margin-left: 50px;
  text-decoration-line: line-through;
  font-size: 12px;
}

#btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 359px) {
  #btn-container {
    padding-left: 40px;
  }
}

button {
  padding: 15px 20px;
  text-align: center;
  width: 90%;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
}

@media only screen and (max-width: 359px) {
  button {
    width: 50%;
  }
}

button:hover {
  color: hsl(158, 14%, 11%);
  background-color: rgb(145, 136, 136);
}

button .fa {
  font-size: 14px;
  margin-right: 10px;
}
.attribution {
  display: flex;
  flex-wrap: wrap;
  font-family: "Fraunces", serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

@media only screen and (max-width: 373px) {
  .attribution {
    padding-left: 40px;
  }
}

.attribution a {
  text-decoration: none;
}
