* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-component {
  width: 80vw;
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 400px) {
  .card-component {
    flex-direction: row;
  }
}

@media only screen and (max-width: 375px) {
  .card-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card-component #img {
  width: auto;
  height: auto;
}

.card-component #img img {
  width: 370px;
  height: 290px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0;
  z-index: 5;
}

@media only screen and (min-width: 400px) {
  .card-component #img img {
    height: 390px;
    width: 350px;
    border-radius: 0;
  }
}

#product-description {
  background-color: white;
  width: 350px;
  height: 310px;
  margin-top: -10px;
  padding: 40px 10px;
  border-radius: 0 0 10px 10px;
  position: relative;
}

@media only screen and (min-width: 400px) {
  #product-description {
    height: 310px;
    width: 330px;
    border-radius: 0;
    margin-top: -3px;
    padding: 40px 10px;
  }
}

@media only screen and (max-width: 375px) {
  #product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 20px;
  }
}

#product-description h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
  opacity: 0.7;
  margin-top: -20px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 400px) {
  #product-description h1 {
    font-size: 10px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 375px) {
  #product-description h1 {
    font-size: 8px;
    padding-left: 20px;
  }
}

#product-description h2 {
  font-family: "Fraunces", serif;
  font-size: 30px;
}

@media only screen and (min-width: 400px) {
  #product-description h2 {
    font-size: 25px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 375px) {
  #product-description h2 {
    font-size: 20px;
    padding-left: 20px;
    width: 250px;
  }
}

#product-description h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin-top: 20px;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1.2rem;
}

@media only screen and (min-width: 400px) {
  #product-description h3 {
    font-size: 12px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 375px) {
  #product-description h3 {
    font-size: 10px;
    padding-left: 20px;
    width: 250px;
  }
}

#price {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

@media only screen and (max-width: 375px) {
  #price {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

#price #one {
  font-size: 25px;
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
}

@media only screen and (max-width: 375px) {
  #price #one {
    text-align: right;
  }
}

#price #two {
  margin-left: 50px;
  text-decoration-line: line-through;
  font-size: 12px;
}

@media only screen and (max-width: 375px) {
  #price #two {
    text-align: left;
  }
}

button {
  margin-top: 30px;
  margin-left: 5px;
  padding: 15px 20px;
  text-align: center;
  width: 90%;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
}

@media only screen and (max-width: 400px) {
  button {
    width: 90%;
    position: absolute;
    bottom: 10px;
  }
}

@media only screen and (max-width: 375px) {
  button {
    margin-left: 20px;
    width: 60%;
  }
}

button .fa {
  font-size: 14px;
  margin-right: 10px;
}
.attribution {
  display: flex;
  flex-wrap: wrap;
  font-family: "Fraunces", serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.attribution a {
  text-decoration: none;
}
